@model movieSite.Models.MoviesModel
@using (Html.BeginForm("Edit", "Movie", new { Id = @Model.MovieID },FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.Title) @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(x => x.Title)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Genre) @Html.ValidationMessageFor(x => x.Genre)
        </div>
        <div class="col-md-12">
            @Html.DropDownListFor(x => x.Genre, Model.GenreList)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Rating) @Html.ValidationMessageFor(x => x.Rating)
        </div>
        <div class="col-md-12">
            @Html.DropDownListFor(x => x.Rating, Model.RatingList)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.ImdbLink) @Html.ValidationMessageFor(x => x.ImdbLink)
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(x => x.ImdbLink)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Director) @Html.ValidationMessageFor(x => x.Director)
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(x => x.Director)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Description) @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div class="col-md-12">
            @Html.TextAreaFor(x => x.Description)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Viewed) @Html.ValidationMessageFor(x => x.Viewed)
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(x => x.Viewed)
        </div>
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-danger" href="@Url.Action("Remove","Movie",new {id=@Model.MovieID})">Ta bort<span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
}

