@model movieSite.Models.MoviesModel
@using (Html.BeginForm("Add", "Movie", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.Title) @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(x => x.Title)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Genre) @Html.ValidationMessageFor(x => x.Genre)
        </div>
        <div class="col-md-12">
            @Html.DropDownListFor(x => x.Genre, Model.GenreList)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Genre) @Html.ValidationMessageFor(x => x.Rating)
        </div>
        <div class="col-md-12">
            @Html.DropDownListFor(x => x.Rating, Model.RatingList)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.ImdbLink) @Html.ValidationMessageFor(x => x.ImdbLink)
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(x => x.ImdbLink)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Director) @Html.ValidationMessageFor(x => x.Director)
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(x => x.Director)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Description) @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div class="col-md-12">
            @Html.TextAreaFor(x => x.Description)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(x => x.Viewed) @Html.ValidationMessageFor(x => x.Viewed)
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(x => x.Viewed)
        </div>


        <div class="col-md-12">
            <input type="submit" value="Add Movie" class="btn btn-primary" />
        </div>
    </div>
}
